<ion-header class="ion-no-border">

  <ion-toolbar style="text-align: center">
    <br>
    <img src="assets/images/logo_seal_superpequeno.png" style="vertical-align: middle;">
  </ion-toolbar>

  <ion-toolbar style="text-align: center">
    <h4 class="seal-grey">
      MOBILE DASHBOARD
    </h4>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>
        Please select two identities to make a link request:
      </ion-label>
    </ion-list-header>
  
    <ion-item>

      <ion-select [(ngModel)]="identitiesSelected.identityA" name="identityA" placeholder="Select Identity A">

        <div *ngFor="let identity of identitiesList" >

          <div *ngFor="let attr of identity.attributes">

            <div *ngFor="let value of attr.values">

              <div *ngIf="attr.friendlyName.toLowerCase() == 'givenname'">  
                
                  <ion-select-option [value]="identity.id"> {{ identity.provider }} - {{ identity.id | slice:50:63 }} - {{ value }} </ion-select-option>

              </div>   
            
            </div>
                              
          </div> 

        </div>
        
      </ion-select>

    </ion-item>

    <ion-item>

      <ion-select [(ngModel)]="identitiesSelected.identityB" name="identityB" placeholder="Select Identity B">

        <div *ngFor="let identity of identitiesList" >

          <div *ngFor="let attr of identity.attributes">

            <div *ngFor="let value of attr.values">

              <div *ngIf="attr.friendlyName.toLowerCase() == 'givenname'">  
                
                  <ion-select-option [value]="identity.id"> {{ identity.provider }} - {{ identity.id | slice:50:63 }} - {{ value }} </ion-select-option>

              </div>   
            
            </div>
                              
          </div> 

        </div>
        
      </ion-select>

    </ion-item>

  </ion-list>

  <ng-container>

    <ion-button expand="block" (click)="identityReconciliation()">Link Request</ion-button>

  </ng-container>

</ion-content>

<ion-footer class="ion-no-border">

  <ion-toolbar>
    <p style="text-align: center; font-family: Helvetica; font-size: x-small;" class="seal-grey">
      <img src="assets/images/eu.png" style="vertical-align: middle;" width="35" alt="INEA/CEF/ICT/A2018/1633170"> INEA/CEF/ICT/A2018/1633170
      &nbsp;&nbsp;&nbsp;
      <a href="https://project-seal.eu/node/141">Privacy policy</a>
    </p>
  </ion-toolbar>

</ion-footer>