<ion-header>
  <ion-toolbar>
    <ion-title>Identities Selector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>
        Please select two identities to make a link request:
      </ion-label>
    </ion-list-header>
  
    <ion-item>

      <ion-select [(ngModel)]="identitiesSelected.identityA" name="identityA" placeholder="Select Identity A">

        <div *ngFor="let identity of identitiesList">

          <div *ngIf="identity.provider === 'eIDAS' || identity.provider === 'eduGAIN' || identity.provider === 'eMRTD'">
            
            <ion-select-option [value]="identity.id"> {{ identity.provider }} - {{ extractIdentitySubstr(identity.id)  }} {{ returnGivenName(identity) }} </ion-select-option>

          </div>

        </div>
        
      </ion-select>

    </ion-item>

    <ion-item>

      <ion-select [(ngModel)]="identitiesSelected.identityB" name="identityB" placeholder="Select Identity B">

        <div *ngFor="let identity of identitiesList">

          <div *ngIf="identity.provider === 'eIDAS' || identity.provider === 'eduGAIN' || identity.provider === 'eMRTD'">
            
            <ion-select-option [value]="identity.id"> {{ identity.provider }} - {{ extractIdentitySubstr(identity.id)  }} {{ returnGivenName(identity) }} </ion-select-option>

          </div>

        </div>
        
      </ion-select>

    </ion-item>

  </ion-list>

  <ng-container>

    <ion-button expand="block" (click)="identityReconciliation()">Link Request</ion-button>

  </ng-container>

</ion-content>
