.seal-blue {
    color: rgb(25,53,142);
    font-size: medium;
    font-weight: bold;
    font-family: 'Lucida Sans';
}

.seal-grey {
    color: rgb(119, 119, 119);
    font-size: small;
    font-weight: lighter;
    font-family: 'Lucida Sans';
}