<ion-header [translucent]="true" class="ion-no-border">
    
  <ion-toolbar> 
    <ion-title style="text-align: center" class="seal-grey">
      <br>
      <img src="assets/images/logo_seal_superpequeno.png" style="vertical-align: middle;"><br>MOBILE DASHBOARD
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <h2 text-center>{{ checkingService }}</h2>
</ion-content>


<ion-footer class="ion-no-border">

  <ion-toolbar>
    <ion-title style="text-align: center; font-family: Helvetica; font-size: x-small;" class="seal-grey">
      <img src="assets/images/eu.png" style="vertical-align: middle;" width="35" alt="INEA/CEF/ICT/A2018/1633170"> INEA/CEF/ICT/A2018/1633170
      &nbsp;&nbsp;&nbsp;
      <a href="https://project-seal.eu/node/141">Privacy policy</a>
    </ion-title>
  </ion-toolbar>

</ion-footer>